//output:index.html

doctype html
htm(lang="de")
  head
    title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")  
    link(rel="stylesheet" href="/assets/css/main.min.css")
  
  body
    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  script(src="/assets/js/jquery-2.1.4.min.js")
  script(src="/assets/js/functions.js" type="text/javascript")
