block php

doctype html
html(lang="de")
  head
    title Autofill
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/main.min.css")
  
  body
    header
      h1 Autofill
    nav
      ul
        a(href="/")
          li Was ist Autofill ?
          
        a(href="/register.php")
          li Registrieren
          
        a(href="/login.php")
          li Anmelden
        
        a(href="/about.html")
          li Über
          
      .handle Menü
    
    section
      block content
        
    footer
      nav
        a(href="#") &copy; Papa Jonas
        a |
        a(href="#") Impressum
      
  script(src="/assets/js/jquery-2.1.4.min.js")
  script(src="/assets/js/functions.js" type="text/javascript")
