//output:login.php


extends layout.jade

block content
  form(id="login")
    h1 Anmeldung
    input(type="email" placeholder="E-mail")
    br
    
    input(type="passwort" placeholder="Passwort")
    br
    
    input(type="submit" value="Anmelden")
