//output:register.php

extends layout.jade

block php
  include includes/db.php
  include includes/register_php.php

block content
  h1 Anmeldung
  #register_wrapper
    form(id="register" method="POST" action="login.php")
      p Felder die mit einem <span>*</span> gekennzeichnet sind, sind <span>Pflichtfelder</span>!
      br
      
      input(type="name" name="name" placeholder="Dein Name")
      
      br
      
      input(type="name" name="ingame_name" placeholder="Dein Beschwörername")
      span *
      
      br
      
      input(type="email" name="email" placeholder="Deine E-mail")
      span *
      
      br
      
      input(type="password" name="passwort" placeholder="Dein Passwort")
      span *
      
      br
      
      label Dein Rang: 
        select(name="liga")
          option Unranked
          option Bronze
          option Silver
          option Gold
          option Platin
          option Diamond
          option Master
          option Challenger
        
        select(id="division" name="division")
          option Division
          option Ⅰ
          option Ⅱ
          option Ⅲ
          option Ⅳ
          option Ⅴ
        span *
        
      br
        
      input(type="number" name="user_alter" placeholder="Dein Alter")
      
      br
          
      input(type="submit" name="register_submit" value="Registrieren")
