header
  font-family: Calibri
  height: 225px
  background: grey
  text-align: center

#font
  height: 150px
  background-image: url('/assets/img/font.png')
  background-repeat: no-repeat
  background-size: 100% 150px

  h1
    margin: 0px
    padding-top: 5px
    color: rgb(255,0,0)
    font-size: 75px

  p
    color: rgb(220,0,0)
    font-size: 25px
    font-weight: 700
    margin: 0

#navi
  height: 75px
  background-image: url('/assets/img/nav.png')
  background-repeat: no-repeat
  background-size: 100% 75px
  nav
    a
      display: inline-block
      margin: 25px 20px 25px 20px
      color: rgb(125,0,0)
      font:
        size: 25px
        weight: 700
      transition: 0.25s ease-in

      &:hover
        color: rgb(255,0,0)
        margin-left: 25px
        margin-right: 25px
