<?php 
| session_start();
| if($_SESSION['id'] == "") {
|   header("Location: /login.php");
| }
?>


doctype html
html(lang="de")
  head
    title Autofill
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/main.min.css")
  
  body
    header
      h1 Autofill
    nav
      ul
        a(href="/schaumparty/meinProfil.php")
          li Mein Profil
          
        a(href="/schaumparty/suche.php")
          li Suche
          
        a(href="/schaumparty/nachrichten.php")
          li Nachrichten
        
        a(href="/schaumparty/team.php")
          li Team
          
        a(href="/schaumparty/logout.php")
          li Logout
          
      .handle Menü
    
    section
      block content
        
    footer
      nav
        a(href="#") &copy; Papa Jonas
        a |
        a(href="#") Impressum
      
  script(src="/assets/js/jquery-2.1.4.min.js")
  script(src="/assets/js/functions.js" type="text/javascript")
